<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloriti.workshiftmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WorkshiftManager"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkShiftManagerSetting"
            android:label="@string/title_activity_work_shift_manager_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".selection.MultiSelectionMenu"
            android:label="@string/title_activity_multi_selection_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".manage.ManageWorkShift"
            android:label="@string/title_activity_manage_work_shift"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".manage.CreateWorkShift"
            android:label="@string/title_activity_create_work_shift"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".util.SelectHours"
            android:label="@string/title_activity_select_hours"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplayWorkShift"
            android:label="@string/title_activity_display_work_shift"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplayTurn"
            android:label="@string/title_activity_display_turn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".manage.AddOvertime"
            android:label="@string/title_activity_add_overtime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".manage.SelectOvertime"
            android:label="@string/title_activity_select_overtime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".manage.StarlingHours"
            android:label="@string/title_activity_starling_hours"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplayYear"
            android:label="@string/title_activity_display_year"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".selection.MounthSelection"
            android:label="@string/title_activity_mounth_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplaySettimana"
            android:label="@string/title_activity_display_settimana"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplayHourWeek"
            android:label="@string/title_activity_display_hour_week"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".display.DisplayMounth"
            android:label="@string/title_activity_display_mounth"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
